* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'LondonBetween', sans-serif;
  height: 100vh;
  overflow: auto;
  text-align: center;
}

body.dark-mode {
  background: #121212;
  color: #ffffff;
}

@font-face {
  font-family: 'LondonBetween';
  src: url('../fonts/LondonBetween.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background: linear-gradient(to bottom right, #FFDEE9, #B5FFFC);
  height: 100vh;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #fff;
  padding: 15px;
  z-index: 10;
}

header.dark-mode {
  background-color: #222;
  color: #ffffff;
}

/* Logo */
.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

/* Menu */
.menu {
  position: relative;
}

.menu-icon {
  cursor: pointer;
  font-size: 30px;
  color: #333;
  transition: color 0.3s ease, transform 0.3s ease;
}

.menu-icon.open {
  color: #D80073;
  transform: rotate(90deg);
}

/* Navigation Menu */
.nav-links {
  position: absolute;
  top: 60px;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  border-radius: 8px;
  padding: 10px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s;
  pointer-events: none;
}

.nav-active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s;
  pointer-events: auto;
}

/* Navigation Links */
.nav-links a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  text-align: center;
  transition: background 0.3s;
}

.nav-links a:hover {
  background: #D80073;
}

/* Dark Mode Toggle */
.dark-mode-toggle {
  cursor: pointer;
  font-size: 20px;
  background: none;
  border: none;
  color: #333;
  margin-left: 15px;
  transition: color 0.3s ease;
}

.dark-mode-toggle.dark {
  color: #ffffff;
}
main {
  padding: 50px 20px;
  text-align: center;
  flex-grow: 1;
}

.intro {
  padding: 40px;
}

.intro h2 {
  font-size: 3rem;
  color: #333;
}

.intro h3 {
  color: #333;
  background: linear-gradient(90deg, #B2005A, #D80073, #FF66A3);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 4rem;
  font-size: clamp(3.5rem, 4.5vw, 5rem);
  font-weight: bold;
}

.intro h4 {
  font-size: 1rem;
  color: #333;
}

.spotify-player {
  padding: 40px;
  height: 100px;
}

.spotify-player h5 {
  font-size: 1rem;
  margin: 5px 0;
  text-decoration: underline;
}

.spotify-container iframe {
  width: 100%;
  height: 380px;
  border: none;
}

@media (max-width: 768px) {
  .spotify-container iframe {
    height: 300px;
  }
}
