* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'LondonBetween', sans-serif;
  height: 100vh;
  overflow: auto;
  text-align: center;
}

@font-face {
  font-family: 'LondonBetween';
  src: url('../fonts/LondonBetween.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background: linear-gradient(to bottom right, #FFDEE9, #B5FFFC);
  height: 100vh;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #fff;
  padding: 15px;
  z-index: 10;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.menu {
  position: relative;
}

.menu-icon {
  cursor: pointer;
  font-size: 30px;
  color: #333;
}

.nav-links {
  position: absolute;
  top: 50px;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  border-radius: 5px;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.nav-links a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  text-align: center;
  transition: background 0.3s;
}

.nav-links a:hover {
  background: #D80073;
}

.nav-active {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

main {
  padding: 50px 20px;
  text-align: center;
  flex-grow: 1;
}

.intro {
  padding: 40px;
}

.intro h2 {
  font-size: 3rem;
  color: #333;
}

.intro h3 {
  color: #333;
  background: linear-gradient(90deg, #B2005A, #D80073, #FF66A3);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 4rem;
  font-size: clamp(3.5rem, 4.5vw, 5rem);
  font-weight: bold;
}

.intro h4 {
  font-size: 1rem;
  color: #333;
}

.spotify-player {
  padding: 40px;
}

.spotify-player h5 {
  font-size: 1rem;
  margin: 5px 0;
  text-decoration: underline;
}

.spotify-container iframe {
  width: 100%;
  height: 380px;
  border: none;
}

@media (max-width: 768px) {
  .spotify-container iframe {
    height: 300px;
  }
}
