/* CSS Variables */
:root {
  --primary-bg-light: #FFDEE9;
  --secondary-bg-light: #B5FFFC;
  --primary-bg-dark: #181818;
  --secondary-bg-dark: #222222;
  --navbar-bg-light: #ffffff;
  --navbar-bg-dark: #1e1e1e;
  --text-color-light: #333;
  --text-color-dark: #E0E0E0;
  --accent-color: #D80073;
  --gradient-text-start: #B2005A;
  --gradient-text-middle: #D80073;
  --gradient-text-end: #FF66A3;
}

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font Face */
@font-face {
  font-family: 'LondonBetween';
  src: url('../fonts/LondonBetween.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* General Styles */
body {
  font-family: 'LondonBetween', sans-serif;
  height: 100vh;
  overflow-x: hidden;
  text-align: center;
  background: linear-gradient(to bottom right, var(--primary-bg-light), var(--secondary-bg-light));
  transition: background 0.3s ease, color 0.3s ease;
}

/* Dark Mode */
.dark-mode {
  background: linear-gradient(to bottom right, var(--primary-bg-dark), var(--secondary-bg-dark));
  color: var(--text-color-dark);
}

.dark-mode .header {
  background: var(--navbar-bg-dark);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.dark-mode .logo, .dark-mode .menu-icon {
  color: var(--text-color-dark);
}

.dark-mode .menu-icon.open {
  color: var(--accent-color);
}

.dark-mode .nav-links {
  background: rgba(30, 30, 30, 0.95);
}

.dark-mode .nav-links a {
  color: var(--text-color-dark);
}

.dark-mode .nav-links a:hover {
  background: var(--accent-color);
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--navbar-bg-light);
  padding: 15px;
  z-index: 10;
  transition: background 0.3s ease;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-color-light);
}

.menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Toggle Button */
#dark-mode-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: inherit;
}

/* Menu Icon */
.menu-icon {
  cursor: pointer;
  font-size: 30px;
  color: var(--text-color-light);
  transition: color 0.3s ease, transform 0.3s ease;
}

.menu-icon.open {
  color: var(--accent-color);
  transform: rotate(90deg);
}

/* Navigation Links */
.nav-links {
  position: absolute;
  top: 60px;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  border-radius: 8px;
  padding: 10px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s, transform 0.3s, visibility 0s linear 0.3s;
  pointer-events: none;
}

.nav-active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s, transform 0.3s;
  pointer-events: auto;
}

.nav-links a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  text-align: center;
  transition: background 0.3s;
}

.nav-links a:hover {
  background: var(--accent-color);
}

/* Main Content */
main {
  padding: 50px 20px;
  flex-grow: 1;
}

.intro {
  padding: 40px;
}

.intro h2 {
  font-size: 3rem;
  color: var(--text-color-light);
}

.intro h3 {
  background: linear-gradient(90deg, var(--gradient-text-start), var(--gradient-text-middle), var(--gradient-text-end));
  -webkit-background-clip: text;
  color: transparent;
  font-size: clamp(3.5rem, 4.5vw, 5rem);
  font-weight: bold;
}

.intro h4 {
  font-size: 1rem;
  color: var(--text-color-light);
}

/* Spotify Player */
.spotify-player h5 {
  font-size: 1rem;
  margin: 5px 0;
  text-decoration: underline;
}

.spotify-player {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  left: 0;
  width: 100%;
  height: 352px;
  position: relative;"
}

.spotify-player iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border: 0;
}

/* Mobile optimization  */
@media (max-width: 480px) {
  .spotify-player iframe {
    height: 65px;
  }
}
