* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'London Between', sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  color: white;
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  object-fit: cover;
}

.container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.typing-animation p {
  display: inline-block;
  opacity: 0;
  white-space: nowrap;
  overflow: hidden;
  border-right: .15em solid white;
  width: 0;
}

@media (max-width: 768px) {
  body {
    font-size: 18px;
  }
  #music-toggle {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 10;
}

#music-toggle:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
 }
  @font-face {
  font-family: 'LondonBetween';
  src: url('fonts/LondonBetween.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }
}
